.get_link{
    position: absolute;
    top: 37%;
    left: 5%;
    width: 100%;
}

.get_link label{
    position: absolute;
    left: 0;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #727586;
}

.get_link input{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #727586;
}

@media only screen and (max-width: 1126px) {
    .get_link label{
        font-size:25px ;
    }

    .get_link input{
        font-size: 25px;
    }
}

@media only screen and (max-width: 876px) {
    .get_link label{
        font-size:20px ;

    }

    .get_link input {
        font-size: 20px;

    }

    .get_link{
        left: 8%;
    }
}

@media only screen and (max-width: 706px) {
    .get_link label{
        font-size:17px ;

    }

    .get_link input {
        font-size: 17px;

    }

    .get_link{
        left: 10%;
        top: 36%;
    }
}